network ${cidrhost(range,0)} netmask ${cidrnetmask(range)} {
  pool {
    ${allows}
    range dynamic-bootp ${cidrhost(range,32)} ${cidrhost(range,-1)};
  }
  option subnet-mask ${cidrnetmask(range)};
  option broadcast-address ${cidrhost(range,-1)};
  option routers ${cidrhost(range,1)};
  next-server ${next-server};
}
