authoritative;
ddns-update-style none;
use-host-decl-names on;

option px-network code 170 = text;

# class names here are the terraform map keys
${classes}

# now we do includes, since the host ones require classes to exist first
include "/etc/dhcp/ipxe-option-space.conf";
include "/etc/dhcp/bootfile.conf";

# subnets
${subnets}
